## Tuples

In [1]:
t = (1,2,3,4) ## round brackets

In [2]:
type(t)

tuple

In [3]:
t2 = 1,2,3,4,4

In [4]:
type(t2)

tuple

In [5]:
len(t2)

5

In [6]:
t1 = ('hello', 5,5,6,[7,8,8]) ## list in tuple

In [8]:
t2 = ('hello', 3,4,5,(3,6)) ## tuple in tuple

In [9]:
var = t2[4]

In [10]:
type(var)

tuple

In [11]:
print(var)

(3, 6)

In [12]:
var[1]

6

In [ ]:
## single valued tuple
t2 = 1, ## add comma at last
print(t2)
print(type(t2))

(1,)
<class 'tuple'>

In [15]:
## these are not tuple
t2 = 1
t3 = (3)

### Indexing in tuple

In [20]:
t = ('Mumbai', 10, 'Python', 100, 'Delhi')
len(t)

5

In [ ]:
t[2:3] ##last index not include

('Python',)

In [25]:
str1 = "HELLO WORLD"
str1[6:]

'WORLD'

In [26]:
## slicing first 2 elements from t
t = ("Mumbai", 10, "Python", 100 )
t[0:2]

('Mumbai', 10)

In [27]:
t[2:]

('Python', 100)

In [28]:
t[-2:]

('Python', 100)

In [30]:
## concatenation
tuple1 = (1,2,23,4,5,5)
tuple2 = (6,8,9,5,4)
tuple3 = tuple1+ tuple2
print(tuple3)

(1, 2, 23, 4, 5, 5, 6, 8, 9, 5, 4)

In [31]:
## sum of elements
sum(tuple1)

40

In [32]:
min(tuple1)

1

In [33]:
max(tuple1)

23

In [34]:
t = (1,2,4,'hello')

In [35]:
sum(t)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Immutability

In [39]:
list1 = ["Bio", "Chem", "Phy", "math"]

In [41]:
list1[0] = "computer"
print(list1)

['computer', 'Chem', 'Phy', 'math']

In [42]:
tuple_1 = ("Bio", "Chem", "Phy", "math")
tuple_1[0] = "computer sc"
print(tuple_1)

TypeError: 'tuple' object does not support item assignment

In [44]:
## how ?
t = ('hello', 'welcome', 5, 10, 'world', 'of', 'analytics')

In [45]:
t[0:2]

('hello', 'welcome')

In [46]:
t[-3:]

('world', 'of', 'analytics')

In [47]:
x = ("to", "the")
new  = t[0:2] + x + t[-3:]

In [49]:
print(new)
print(len(new))

('hello', 'welcome', 'to', 'the', 'world', 'of', 'analytics')
7

### Sorting a tuple

In [50]:
t = (2,3,4,56,2,1)
new_var = sorted(t)
print(new_var)
print(type(new_var))

[1, 2, 2, 3, 4, 56]
<class 'list'>

In [51]:
## type casting
t2 = tuple(new_var)

In [52]:
print(t2)

(1, 2, 2, 3, 4, 56)