### variables & keywords

In [1]:
my_age = 32

In [2]:
print(my_age)

32

1,25, 46,786 -->Integer
1.2, 35.6 -- >float
"hello", "world" ---> string
True, false ---> boolean

In [3]:
type(my_age) ### to find type of variable

int

In [4]:
my_name = 'Bhavay Batra'

In [5]:
print(my_name)
type(my_name)

Bhavay Batra

str

In [6]:
a= 10.5

In [7]:
print(a)

10.5

In [8]:
type(a)

float

In [9]:
a ="10.5"
print(type(a))

<class 'str'>

In [10]:
5a = 10

SyntaxError: invalid decimal literal (4232515679.py, line 1)

In [11]:
a5 = 10
print(a5)

10

In [12]:
string1 =  'hello 123 world'

In [13]:
print(string1)

hello 123 world

In [14]:
a = 4
b = 5
c = a + b

In [15]:
print(c)

9

In [17]:
### function
def sum_function(a, b):
    c = a + b
    return c

print(sum_function(2,1))

3

### keywords
### special reserved words which convey special meaning to interpreter or compiler